<ul class="nav flow left unlist">
  <li><a href="{{ '/' | url }}">Home</a></li>
  <li><a href="{{ '/about/' | url }}">About</a></li>
  <li><a href="{{ '/faq/' | url }}">FAQ</a></li>
  <li><a href="{{ '/contact/' | url }}">Contact</a></li>
</ul>
