<a href="{{ '/' | url }}" class = "nav-item-home"> <img src ="{{ '/static/images/logo-flat.png' | url }}" alt = "Grandpa's Turn"></a>

<ul class="nav unlist">
  <li><a href="{{ '/about/' | url }}" class = "nav-item">ABOUT</a></li>
  {# <li><a href="{{ '/faq/' | url }}">FAQ</a></li> #}
  <li><a href="{{ '/contact/' | url }}" class = "nav-item">CONTACT</a></li>
</ul>
