:root {
  --h: 38;
  --s: 80%;
  --l: 90%;
  --fh: 16;
  --fs: 83%;
  --fl: 12%;
/*  --bg: #faecd2;*/
  --bg: hsl(var(--h), var(--s), var(--l));
  --fg: hsl(var(--fh), var(--fs), var(--fl));
  --flow-space: 1.5em;
  --flow-space-h: 1em;
  --text-m: 0.82em;
  --text-sm: 0.75em;

  /* layout dimensions */

  /* layout: home page shelf grid */
  --grid-image-width: 672px;
  --grid-image-height: 668px;
  --grid-bleed-top: 34px;
  --grid-bleed-right: 35px;
  --grid-bleed-left: 34px;
  --grid-bleed-bottom: 28px;
  --grid-content-width: calc(var(--grid-image-width) - var(--grid-bleed-left) - var(--grid-bleed-right));
  --grid-content-height: calc(var(--grid-image-height) - var(--grid-bleed-top) - var(--grid-bleed-bottom));
  --grid-h-margin: 24px;

  /* layout: bowl detail page */
  --detail-image-width: 512px;

  /* base styles */
  background-color: var(--bg);
  color: var(--fg);
  font-size: 14pt;
  line-height: 1.5em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

.flow.left > * + * {
  margin-top: 0;
  margin-left: var(--flow-space-h);
}

.container {
  margin: 0 auto;
}

.container.grid {
  height: var(--grid-content-height);
  margin: 0.5em auto;
  position: relative;
  width: calc(2 * var(--grid-h-margin) + var(--grid-content-width));
}

.container.detail {
  display: flex;
  max-width: 960px;
  margin-top: 3em;
}

.container.boring {
  max-width: 28em;
  padding: 0 var(--flow-space-h);
  text-align: justify;
}

.unlist > li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 8px;
  position: relative;
}

nav, ul.nav {
  display: flex;
  justify-content: space-between;
}

ul.nav {
  flex-shrink: 1;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav.over-grid {
  margin: 1.333em auto;
  padding: 0 1.5em;
  width: var(--grid-content-width);
  align-items: center;
}

nav.over-grid img{
  width: 200px;
  /* margin: auto; */
}

.nav-item {
  color: #2c0d03;
  text-decoration: none;
}

.nav-item::after{
  content:'';
  width: 0%;
  height: 2px;
  background: #ac92a6;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-item:hover::after{
  width: 100%;
}

/* should match --grid-image-width (can't use vars in media query) */
@media screen and (max-width: 672px) {
  nav.over-grid {
    background: hsla(var(--h), var(--s), var(--l), 0.667);
    margin: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0.333em 1em;
    box-shadow: 0 0 0.5em hsla(var(--fh), var(--fs), var(--fl), 0.2);
    z-index: 1;
  }
  .container.grid {
    margin-top: 3.5em;
  }
}

nav h1 {
  flex-grow: 1;
  flex-shrink: 0;
}

p:not(:first-of-type) {
  text-indent: 3em;
}

button.reset {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.pointer {
  cursor: pointer;
}
.pointer[disabled] {
  cursor: inherit;
}

.grid-frame {
  display: block;
  left: calc(-1 * var(--grid-bleed-left) + var(--grid-h-margin));
  position: absolute;
  top: calc(-1 * var(--grid-bleed-top));
  z-index: -1;
}
.grid-frame:after {
  bottom: 0;
  box-shadow: 0 0 1.1em 1.1em var(--bg) inset;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.the-grid {
  display: block;
}

.bowls {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 100%;
  padding: 0 var(--grid-h-margin);
}

.bowls > li[data-bowl="80"] {
  grid-column-start: 8;
  grid-row-start: 9;
}
.bowls > li[data-bowl="81"] {
  grid-column-start: 9;
  grid-row-start: 9;
}

.bowls > li > a {
/*  background: hsla(0, 0%, 0%, 0.3);*/
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transition: background 0.2s;
}
.bowls > li > a:before {
  --blur: 0.4em;
  background: #fff;
  bottom: var(--blur);
  box-shadow: 0 0 var(--blur) var(--blur) #fff;
  content: '';
  display: block;
  left: var(--blur);
  opacity: 0;
  position: absolute;
  right: var(--blur);
  top: var(--blur);
  transition: opacity 0.2s;
}
.bowls > li > a:hover:before {
  opacity: 0.4;
}
.bowls > li > a:target:before {
  opacity: 0.5;
}

.bowl-overlay {
  align-items: center;
  background: hsla(0, 0%, 0%, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: auto;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.overlay-size {
  max-width: min(768px, 100%);
}

.bowl-header {
  align-items: flex-end;
  display: flex;
  color: var(--bg);
  justify-content: space-between;
  margin-bottom: 0.333em;
}

.bowl-header button {
  --size: 1.1;
  --fsize: 0.75;
  --scale: calc(var(--size) / var(--fsize));
  border-radius: calc(var(--scale) * 0.25em);
  border: 1px solid hsla(var(--h), var(--s), var(--l), 0.667);
  color: var(--bg);
  display: block;
  font-size: calc(var(--fsize) * 1em);
  height: calc(var(--scale) * 1em);
  line-height: calc(var(--scale) * 1em);
  text-align: center;
  width: calc(var(--scale) * 1.2em);
}
.bowl-header button:not(:disabled):hover {
  background: hsla(var(--h), var(--s), var(--l), 0.333);
  color: #fff;
}

.move-buttons {
  align-items: center;
  color: var(--bg);
  display: flex;
}
.move-vertical-buttons {
  display: flex;
  flex-direction: column;
  margin: 0 -0.08em;
}

button.move {
  position: relative;
}
.move {
  --chev-size: 0.3em;
  --chev-thickness: 1.5px;
  --chev-color: var(--bg);
}
.move:disabled {
  opacity: 0.333;
}
.move:not(:disabled):hover:before {
  border-color: #fff;
}
.move:before {
  border-color: var(--chev-color);
  border-radius: 2px;
  border-style: solid;
  border-width: var(--chev-thickness) var(--chev-thickness) 0 0;
  content: "";
  display: block;
  height: var(--chev-size);
  left: calc(50% - var(--chev-thickness) / 2);
  margin-left: calc(-1 * var(--chev-size) / 2);
  margin-top: calc(-1 * var(--chev-size) / 2);
  position: absolute;
  top: calc(50% - var(--chev-thickness) / 2);
  width: var(--chev-size);
}
.move.left {
  border-right-width: 0;
}
.move.up {
  border-bottom-width: 0;
}
.move.down {
  border-top-width: 0;
}
.move.right {
  border-left-width: 0;
}
.move.left:before {
  rotate: -135deg;
}
.move.up:before {
  rotate: -45deg;
}
.move.down:before {
  rotate: 135deg;
}
.move.right:before {
  rotate: 45deg;
}

.overlay-content {
  background: hsl(var(--h), var(--s), 93%);
  border-radius: 2px;
  border: 1px solid hsl(var(--fh), 40%, 30%);
  box-shadow: 0.1em 0.2em 0.667em hsla(var(--fh), var(--fs), var(--fl), 0.333);
  padding: 1em;
}

.overlay-image {
  display: block;
  height: auto;
  max-height: 80vh;
  max-width: min(100%, 420px);
  width: auto;
}

.bowl-detail {
  display: flex;
}

.bowl-images {
  flex-shrink: 1;
}
.bowl-info {
  font-size: var(--text-m);
  line-height: 1.3em;
  padding: 1em 0;
  max-width: 50%;
}

.bowl-info h2 {
  font-weight: normal;
}
.bowl-info a {
  color: inherit;
}

.bowl-info p {
  margin: 1em 0;
  text-indent: 0;
}
.bowl-info .continue {
  font-style: italic;
}
.bowl-info dl {
  grid-gap: 0.25em;
}

@media screen and (max-width: 420px) {
  .bowl-detail {
    flex-direction: column;
  }
  .bowl-info {
    max-width: 100%;
  }
  .bowl-info .continue {
    display: none;
  }
  .bowl-info.cut .description:after {
    content: "…";
  }
  .bowl-info dl {
    display: none;
  }
}

/* /////// image detail ////// */
.detail.images {
  flex: 0 1 var(--detail-image-width);
}
.detail.image {
  width: 100%;
  height: auto;
}

.detail.text {
  flex: 1 2 42%;
  font-size: var(--text-m);
  padding: 1em;
  line-height: 1.5em;
}
.detail.text h1,
.detail.text h2 {
  font-weight: normal;
}
.detail.text h2 {
  margin: 1.5em 0 0.5em;
}
.detail.text p {
  margin: 1em 0;
  text-indent: 0;
}
.detail.text dl {
  margin-top: 2.5em;
  border-top: 1px solid hsla(var(--fh), var(--fs), var(--fl), 0.2);
}

@media screen and (max-width: 618px) {
  .detail.images {
    flex-shrink: 3;
  }
}
@media screen and (max-width: 420px) {
  .container.detail {
    flex-direction: column-reverse;
    margin-top: 4em;
  }
  .detail.text dl {
    border-top-width: 0;
    margin-top: 1em;
  }
}

dl {
  padding: 0.5em 0;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 3fr;
}
dt {
  font-weight: bold;
}


footer {
  color: #666;
  font-size: var(--text-sm);
  margin-top: 2em;
  padding-top: 1em;
  text-align: center;
}

/* remaining rules are from html5 boilerplate
 * MIT licensed -- https://github.com/h5bp/html5-boilerplate/blob/a7820f12647fdb93b19340391ac4c60de15352ce/LICENSE.txt */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
