---
layout: boring
title: About
---

<div class = "page-title">
    <h1>{{ title }}</h1>
</div>

<p>
    Grandpa's Turn is a legacy project carried on by Peter Schleihauf's children after his passing on February 26 of 2023. 
    <p>A life-long red-seal carpenter who taught high school tech classes as his second career, 
    Peter began creating the bowls in retirement after taking up woodturning at the encouragement of his second kid who signed him up 
    for a woodturning club as a Christmas gift. 
    
    <p>While his family was aware that he wrote, he was fairly secretive about it, 
    so the texts that are being added to this site were largely appreciated after he passed while the full vision behind Grandpa's Turn 
    became clear to his two youngest kids as they worked on building the website. (His eldest will, though he might not know it yet, be 
    recruited to edit the texts on this site, and support with the ongoing updates as the project progresses.)

    <p>Peter kept meticulous notes about his plans, often re-writing them as he refined ideas. Mixed in with technical considerations and process descriptions are his reflections on life, both political and artistic. 
    As his kids sift through these ideas and directions, this website will be updated in order to carry forward his project and share his beautiful work 
    and writings with the world beyond his display case.

<p><i>
”There are 81 turnings in this collection. 
Each its own character; each its own wood. 
Not smooth to a level where sanding is minimal and sometimes cracked only not to a level unusable. 
Turnings are the result of 3-5” branches being halved and mounted to create a small live edge bowl. 
Live edged bowls can be startlingly beautiful due to shape, wall thickness and finish. 
Very safe, boiled linseed oil as a finish. Branches will come from native deciduous trees including fruit and exotics as catalpa. 
Chestnut without the nut.” </i>
<p> - a selection from Peter's plans for this project (unedited).
<br>
<br>
<br>

<div class = "page-title">
    <h1>About Peter</h1>
</div>

<p>
Please read more about our beloved father <a href=https://pilonfamily.ca/tribute/details/2963/Peter-Schleihauf/obituary.html#tribute-start> in his obituary.</a>
<p>
