---
layout: boring
pagination:
    data: bowls
    size: 1
    alias: bowl
permalink: "bowl/{{ bowl.number | slugify }}/"
eleventyComputed:
    title: "Bowl #{{ bowl.number }}"
---

<h1>{{ title }}</h1>
{% image 'bowls.' + bowl.number + '.0.overlay',
         '81 hand-turned wooden bowls on a home-made 9x9 compartment shelf',
         'the-grid' %}
<dl>
  <dt>signed</dt>
  <dd>{{ bowl.signed }}</dd>
  <dt>species</dt>
  <dd>{{ bowl.species }}</dd>
  <dt>origin</dt>
  <dd>{{ bowl.origin }}</dd>
  <dt>finish</dt>
  <dd>{{ bowl.finish }}</dd>
  <dt>sense</dt>
  <dd>{{ bowl.sense }}</dd>
</dl>
<p>{{ bowl.description }}</p>
